fastapi     # Працює на асинхронних серверах
uvicorn     # Асинхронний сервер для FastAPI
sqlalchemy   # ORM для роботи з базою даних
ecdsa     # Бібліотека для роботи з електронними підписами, щоб всі транзакції були підписані


